.Ftr {
  padding-top: 10px;
  height: 8vh;
  background-color: var(--primary);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.socialsF {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 150px;
  justify-content: center;
}

.home-footer {
  padding-top: 10px;
  height: 7vh;
  background-color: var(--primary);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

q{
    color: white;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 15px;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Maven Pro', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Parisienne', cursive;



}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Pacifico&family=Parisienne&family=Poppins:wght@200&family=Raleway:wght@300&family=Rubik+Wet+Paint&display=swap');