.user__form{
    margin-left: -50%;
    margin-top: 20%;
}

.User-h1{
    color: dodgerblue;
}

.User-form{
    display: flex;
    justify-content: center;
    
    background-image: url(https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80);
    image-resolution: 300dpi;
    background-size: cover;
    height: 92vh;
}

.User-input{
    width: 80%;
    padding: 12px 20px;
    outline: none;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid dodgerblue;
    display: block;
    background-color: transparent;
}

.User-date{
    border: none;
    color: grey;
    background-color: transparent;
}

.User-label{
    color: dodgerblue;
    font-weight: bold;
}

.User-submit{
    display: inline-block;
    margin-top: 20px;
    background-color: dodgerblue;
    color: white;
    width: 7rem;
    padding: 0.9rem 1.5rem;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}

.Book-btn{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.Book-button{
    margin: 0 auto;
    display: block;
    border-radius: 16px;
    margin-bottom: 10px;
    width: 100px;
    border: none;
    outline: none;
    background-color: dodgerblue;
}

.Books-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

