:root{
    --primary:dodgerblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper {
    padding: 0 2rem;
}

@media (min-width: 701px) {
    .wrapper {
        padding: 0 4rem;
    }
}